body {
    background: rgb(7, 7, 7);
    margin: 0px;
    box-sizing: border-box;
}

nav form {
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.3rem;
    padding: 10px;
    box-sizing: border-box;
}

.posterFrame {
    border: 2px solid rgb(121, 111, 84);
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    min-height: 100%;
}