img {
    width: 5em;
    height: auto;
    background: grey;
    display: block;
}

.display-off {
    display: none;
}

.white-bg {
    background-color: white;
}

.blue-bg {
    background-color: blue;
}

.red-bg {
    background-color: red;
}

.yellow-bg {
    background-color: yellow;
}

.purple-bg {
    background-color: purple;
}

.green-bg {
    background-color: green;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

li {
    display: block;
    width: 100%;
    height: 3em;
    color: grey;
    padding-left: 1em;
    font-weight: bolder;
    border: 1px solid rgb(42, 42, 42);
    display: flex;
    flex-direction: column;
    justify-content: center;
}